In [356]:
import pandas as pd

In [357]:
matches = pd.read_csv("./dim_match_summary.csv")
matches.head()

         team1        team2       winner     margin     matchDate match_id
0  Super Kings          KKR  Super Kings    27 runs  Oct 15, 2021  T203817
1     Capitals          KKR          KKR  3 wickets  Oct 13, 2021  T206442
2          RCB          KKR          KKR  4 wickets  Oct 11, 2021  T208597
3     Capitals  Super Kings  Super Kings  4 wickets  Oct 10, 2021  T201819
4     Capitals          RCB          RCB  7 wickets   Oct 8, 2021  T205942

In [358]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   team1      206 non-null    object
 1   team2      206 non-null    object
 2   winner     206 non-null    object
 3   margin     206 non-null    object
 4   matchDate  206 non-null    object
 5   match_id   206 non-null    object
dtypes: object(6)
memory usage: 9.8+ KB

In [359]:
matches.describe()

              team1 team2       winner     margin    matchDate match_id
count           206   206          206        206          206      206
unique           10    10           10         62          166      206
top     Super Kings   KKR  Super Kings  6 wickets  Oct 8, 2021  T203817
freq             29    27           25         25            2        1

In [360]:
matches.isnull().sum()

team1        0
team2        0
winner       0
margin       0
matchDate    0
match_id     0
dtype: int64

In [361]:
matches.tail()

            team1      team2        winner     margin     matchDate match_id
201        Mumbai        RCB           RCB  8 wickets   Apr 2, 2023  T202485
202        Royals  Sunrisers        Royals    72 runs   Apr 2, 2023  T209117
203  Super Giants   Capitals  Super Giants    50 runs   Apr 1, 2023  T208512
204  Punjab Kings        KKR  Punjab Kings     7 runs   Apr 1, 2023  T202853
205   Super Kings     Titans        Titans  5 wickets  Mar 31, 2023  T201566

In [362]:
matches.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
201    False
202    False
203    False
204    False
205    False
Length: 206, dtype: bool

In [363]:
matches.drop_duplicates(inplace=True)

In [364]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   team1      206 non-null    object
 1   team2      206 non-null    object
 2   winner     206 non-null    object
 3   margin     206 non-null    object
 4   matchDate  206 non-null    object
 5   match_id   206 non-null    object
dtypes: object(6)
memory usage: 9.8+ KB

In [365]:
# Most successfull team 
top_teams = matches['winner'].value_counts().head()
top_teams

winner
Super Kings    25
RCB            25
Titans         23
Royals         22
KKR            21
Name: count, dtype: int64

In [366]:
close_matches = matches[(matches['margin'].str.contains("runs")) & (matches['margin'].str.extract('(\d+)').astype(int) < 10).any(axis=1)]
close_matches

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\16052\AppData\Local\Temp\ipykernel_22560\583068645.py:1: SyntaxWarning: invalid escape sequence '\d'
  close_matches = matches[(matches['margin'].str.contains("runs")) & (matches['margin'].str.extract('(\d+)').astype(int) < 10).any(axis=1)]

            team1         team2        winner  margin     matchDate match_id
8       Sunrisers           RCB     Sunrisers  4 runs   Oct 6, 2021  T209992
12            RCB  Punjab Kings           RCB  6 runs   Oct 3, 2021  T207754
23   Punjab Kings     Sunrisers  Punjab Kings  5 runs  Sep 25, 2021  T203188
28         Royals  Punjab Kings        Royals  2 runs  Sep 21, 2021  T207857
53            RCB     Sunrisers           RCB  6 runs  Apr 14, 2021  T202204
55   Punjab Kings        Royals  Punjab Kings  4 runs  Apr 12, 2021  T207896
67   Super Giants           KKR  Super Giants  2 runs  May 18, 2022  T202863
68      Sunrisers        Mumbai     Sunrisers  3 runs  May 17, 2022  T206060
82         Mumbai        Titans        Mumbai  5 runs   May 6, 2022  T201720
88   Super Giants      Capitals  Super Giants  6 runs   May 1, 2022  T208561
98         Titans           KKR        Titans  8 runs  Apr 23, 2022  T208514
103        Royals           KKR        Royals  7 runs  Apr 18, 2022  T206892
113        Royals  Super Giants        Royals  3 runs  Apr 10, 2022  T207999
144  Super Giants        Mumbai  Super Giants  5 runs  May 16, 2023  T208249
160           KKR     Sunrisers           KKR  5 runs   May 4, 2023  T208611
162      Capitals        Titans      Capitals  5 runs   May 2, 2023  T203464
166     Sunrisers      Capitals     Sunrisers  9 runs  Apr 29, 2023  T207344
172      Capitals     Sunrisers      Capitals  7 runs  Apr 24, 2023  T206316
174           RCB        Royals           RCB  7 runs  Apr 23, 2023  T205220
176        Titans  Super Giants        Titans  7 runs  Apr 22, 2023  T208595
182   Super Kings           RCB   Super Kings  8 runs  Apr 17, 2023  T206232
189        Royals   Super Kings        Royals  3 runs  Apr 12, 2023  T201215
198  Punjab Kings        Royals  Punjab Kings  5 runs   Apr 5, 2023  T201031
204  Punjab Kings           KKR  Punjab Kings  7 runs   Apr 1, 2023  T202853

In [367]:
batting = pd.read_csv("./fact_bating_summary.csv")
players = pd.read_csv("./dim_players.csv")

In [368]:
batting.head()

,match_id,match,teamInnings,battingPos,batsmanName,out/not_out,runs,balls,4s,6s,SR
0,T203817,Super Kings Vs KKR,Super Kings,1,RuturajGaikwad,out,32,27,3,1,118.51
1,T203817,Super Kings Vs KKR,Super Kings,2,FafduPlessis,out,86,59,7,3,145.76
2,T203817,Super Kings Vs KKR,Super Kings,3,RobinUthappa,out,31,15,0,3,206.66
3,T203817,Super Kings Vs KKR,Super Kings,4,MoeenAli,not_out,37,20,2,3,185.00
4,T203817,Super Kings Vs KKR,KKR,1,ShubmanGill,out,51,43,6,0,118.60

In [369]:
players.head()

,name,team,battingStyle,bowlingStyle,playingRole
0,RuturajGaikwad,Super Kings,Right hand Bat,Right arm Offbreak,Batter
1,FafduPlessis,Super Kings,Right hand Bat,Legbreak,Middle order Batter
2,RobinUthappa,Super Kings,Right hand Bat,Right arm Medium,Batter
3,MoeenAli,Super Kings,Left hand Bat,Right arm Offbreak,Batting Allrounder
4,ShubmanGill,KKR,Right hand Bat,Right arm Offbreak,Opening Batter

In [370]:
top_scorers = (batting.groupby('batsmanName')["runs"].sum()
                .reset_index()
                .sort_values(by='runs', ascending=False))

top_scorers

         batsmanName  runs
222      ShubmanGill  1851
66      FafduPlessis  1831
197   RuturajGaikwad  1593
97           KLRahul  1516
95        JosButtler  1509
..               ...   ...
210    ShahbazNadeem     0
203      SanjayYadav     0
233       TNatarajan     0
259        YashDayal     0
242  TusharDeshpande     0

[264 rows x 2 columns]

In [371]:
merged = top_scorers.merge(players, left_on='batsmanName', right_on='name')

In [372]:
bowling = pd.read_csv("./fact_bowling_summary.csv")
bowling

,match_id,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,T203817,Super Kings Vs KKR,KKR,ShakibAlHasan,3.0,0,33,0,11.00,6,2,3,0,0
1,T203817,Super Kings Vs KKR,KKR,ShivamMavi,4.0,0,32,1,8.00,8,1,2,0,0
2,T203817,Super Kings Vs KKR,KKR,LockieFerguson,4.0,0,56,0,14.00,4,7,2,2,0
3,T203817,Super Kings Vs KKR,KKR,VarunChakravarthy,4.0,0,38,0,9.50,5,2,2,0,1
4,T203817,Super Kings Vs KKR,KKR,SunilNarine,4.0,0,26,2,6.50,6,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2431,T201566,Super Kings Vs Titans,Super Kings,DeepakChahar,4.0,0,29,0,7.25,9,1,2,0,0
2432,T201566,Super Kings Vs Titans,Super Kings,TusharDeshpande,3.2,0,51,1,15.30,5,4,4,1,1
2433,T201566,Super Kings Vs Titans,Super Kings,RajvardhanHangargekar,4.0,0,36,3,9.00,10,4,1,3,1
2434,T201566,Super Kings Vs Titans,Super Kings,MitchellSantner,4.0,0,32,0,8.00,7,5,0,0,0
2435,T201566,Super Kings Vs Titans,Super Kings,RavindraJadeja,4.0,0,28,1,7.00,9,1,1,0,0

In [373]:
top_wickets = (bowling.groupby('bowlerName')["wickets"].sum()
                .reset_index()
                .sort_values(by='wickets'))

top_wickets

          bowlerName  wickets
11     AmanHakimKhan        0
24         BenStokes        0
62       JalajSaxena        0
56    HimanshuSharma        0
51    HarbhajanSingh        0
..               ...      ...
20         AveshKhan       47
141       RashidKhan       63
54      HarshalPatel       65
201  YuzvendraChahal       66
110    MohammedShami       67

[202 rows x 2 columns]

In [374]:
economy = (bowling.groupby('bowlerName')
            .agg({'overs': "sum", 'runs': 'sum'})
            .query('overs > 50')
            .assign(economy=lambda x: x['runs'] / x['overs'])
            .sort_values(by='economy')
            .reset_index()
            .head(10)
            )

economy

           bowlerName  overs  runs   economy
0         SunilNarine  160.0  1056  6.600000
1            MoeenAli   70.7   501  7.086280
2           AxarPatel  132.0   939  7.113636
3          RashidKhan  182.5  1317  7.216438
4       JaspritBumrah  108.2   793  7.329020
5        KrunalPandya  113.1   843  7.453581
6      RavindraJadeja  136.0  1014  7.455882
7  RavichandranAshwin  156.0  1175  7.532051
8   VarunChakravarthy  159.4  1209  7.584693
9        HarpreetBrar   66.1   503  7.609682

In [375]:
top_winners =(matches['winner'].value_counts().head(10))
top_winners

winner
Super Kings     25
RCB             25
Titans          23
Royals          22
KKR             21
Capitals        21
Mumbai          20
Punjab Kings    19
Super Giants    17
Sunrisers       13
Name: count, dtype: int64

In [376]:
top_scorers.to_csv("ipl_top_scorers.csv", index=False)
top_winners.to_csv("ipl_top_winners.csv", index=False)

Assaignment

In [377]:
#Assaignment :
batting=pd.read_csv("./fact_bating_summary.csv")
top_scorers=pd.read_csv("./ipl_top_scorers.csv")

In [378]:
#1 .Top 10 batsmen based on past 3 years total runs scored. 
top_scorers = (
    batting.groupby("batsmanName")["runs"].sum()
    .reset_index()
    .sort_values(by="runs",ascending=False)   
)
top_scorers.head(10)

         batsmanName  runs
222      ShubmanGill  1851
66      FafduPlessis  1831
197   RuturajGaikwad  1593
97           KLRahul  1516
95        JosButtler  1509
216    ShikharDhawan  1392
251       ViratKohli  1385
204      SanjuSamson  1304
230  SuryakumarYadav  1225
69      GlennMaxwell  1214

In [379]:
#2 . Top 10 batsmen based on past 3 years batting average. (min 60 balls faced in each season)  
bat_agg = (batting.groupby("batsmanName")
                   .agg(runs=("runs","sum"),
                       balls=("balls","sum"),
                   ))
finishers = (bat_agg.query("balls >= 180")
                    .assign(batting_average=lambda x: x["runs"] / x["balls"].replace(0, pd.NA))
                    .sort_values("batting_average", ascending=False)
                    .head(10))
finishers[["runs","balls","batting_average"]]

                 runs  balls  batting_average
batsmanName
TimDavid          418    235         1.778723
HeinrichKlaasen   448    253         1.770751
LiamLivingstone   758    452         1.676991
GlennMaxwell     1214    752         1.614362
SuryakumarYadav  1225    763         1.605505
CameronGreen      452    282         1.602837
JiteshSharma      543    341         1.592375
AndreRussell      745    468         1.591880
ShimronHetmyer    854    543         1.572744
NicholasPooran    729    464         1.571121

In [380]:
#3 .  Top 10 batsmen based on past 3 years strike rate (min 60 balls faced in each season)  
bat_agg = (batting.groupby("batsmanName")
                   .agg(runs=("runs","sum"),
                       balls=("balls","sum"),
                   ))
finishers = (bat_agg.query("balls >= 180")
                    .assign(strike_rate=lambda x:180* x["runs"] / x["balls"])
                    .sort_values("strike_rate", ascending=False)
                    .head(15))
print(finishers[["runs","balls","strike_rate"]])

                 runs  balls  strike_rate
batsmanName
TimDavid          418    235   320.170213
HeinrichKlaasen   448    253   318.735178
LiamLivingstone   758    452   301.858407
GlennMaxwell     1214    752   290.585106
SuryakumarYadav  1225    763   288.990826
CameronGreen      452    282   288.510638
JiteshSharma      543    341   286.627566
AndreRussell      745    468   286.538462
ShimronHetmyer    854    543   283.093923
NicholasPooran    729    464   282.801724
PrithviShaw       815    532   275.751880
DineshKarthik     693    454   274.757709
YashasviJaiswal  1132    744   273.870968
RinkuSingh        648    434   268.755760
KyleMayers        365    246   267.073171

In [381]:
#4 .Top 10 bowlers based on past 3 years total wickets taken. 
top_bowlers = (
    bowling.groupby("bowlerName")["wickets"].sum()
    .reset_index()
    .sort_values(by="wickets", ascending=False)
)
top_10_bowlers = top_bowlers.head(10)
top_10_bowlers

            bowlerName  wickets
110      MohammedShami       67
201    YuzvendraChahal       66
54        HarshalPatel       65
141         RashidKhan       63
20           AveshKhan       47
19       ArshdeepSingh       45
75        KagisoRabada       45
189  VarunChakravarthy       44
163      ShardulThakur       43
181         TrentBoult       42

In [382]:
#5 . Top 10 bowlers based on past 3 years bowling average. (min 60 balls bowled in each season) 
# Step 1: Aggregate runs conceded, balls bowled, and wickets per bowler
bowl_agg = bowling.groupby("bowlerName").agg(
    runs_conceded=("runs", "sum"),
    overs=("overs","sum"),
    wickets=("wickets", "sum"))

bowlers_filtered = (
    bowl_agg.query("overs >= 10")
            .assign(bowling_average=lambda x: x["runs_conceded"] / x["wickets"].replace(0, pd.NA))
            .sort_values("bowling_average", ascending=True)
            .head(10)
)
print(bowlers_filtered[["runs_conceded", "overs", "wickets", "bowling_average"]])

                  runs_conceded  overs  wickets  bowling_average
bowlerName
MoisesHenriques              45   10.0        4        11.250000
MarkWood                    130   16.0       11        11.818182
MohitSharma                 361   43.7       27        13.370370
AkashMadhwal                219   25.3       14        15.642857
MichaelBracewell             95   11.0        6        15.833333
ChrisWoakes                  82   11.0        5        16.400000
MitchellMarsh               272   32.1       16        17.000000
MohsinKhan                  304   43.0       17        17.882353
AndreRussell                638   61.8       35        18.228571
DwayneBravo                 562   67.2       30        18.733333

In [383]:
#6 . Top 10 bowlers based on past 3 years economy rate. (min 60 balls bowled in each season)
# Step 1: Aggregate runs conceded and balls bowled per bowler
bowl_agg = bowling.groupby("bowlerName").agg(
    runs_conceded=("runs", "sum"),
    wickets=("wickets", "sum")
)
bowl_agg["bowling_average"] = bowl_agg["runs_conceded"] / bowl_agg["wickets"].replace(0, pd.NA)
bowl_agg

                 runs_conceded  wickets bowling_average
bowlerName
AbdulSamad                  17        1            17.0
AbhishekSharma             212        6       35.333333
AdamMilne                  150        3            50.0
AdamZampa                  188        8            23.5
AdilRashid                  91        2            45.5
...                        ...      ...             ...
YashDayal                  461       13       35.461538
YashThakur                 289       13       22.230769
YashasviJaiswal              6        0            <NA>
YudhvirSingh                70        3       23.333333
YuzvendraChahal           1333       66        20.19697

[202 rows x 3 columns]

In [384]:
#7 . Top 5 batsmen based on past 3 years boundary % (fours and sixes). 
# Step 1: Aggregate runs, fours, sixes
boundary = (
    batting.groupby("batsmanName")[["runs", "4s", "6s"]].sum()
           .assign(boundary_percent=lambda x: (x["4s"] + x["6s"]) / x["runs"] * 100)
           .query("runs >= 4")
           .sort_values("boundary_percent", ascending=False)
           .head(5)
)
print(boundary[["runs", "4s", "6s", "boundary_percent"]])

               runs  4s  6s  boundary_percent
batsmanName
AbhijeetTomar     4   1   0         25.000000
LittonDas         4   1   0         25.000000
ShreyasGopal     16   2   1         18.750000
MarkWood         11   1   1         18.181818
SanvirSingh      11   1   1         18.181818

In [385]:
print(bowling.columns.tolist())

['match_id', 'match', 'bowlingTeam', 'bowlerName', 'overs', 'maiden', 'runs', 'wickets', 'economy', '0s', '4s', '6s', 'wides', 'noBalls']

In [ ]:
#8 .Top 5 bowlers based on past 3 years dot ball %.  
bowling = bowling.copy()
bowling["balls"] = bowling["overs"] * 6

dot_ball_stats = (
    bowling.groupby("bowlerName")
           .agg(dot_balls=("0s", "sum"), balls=("balls", "sum"))
           .assign(dot_ball_percent=lambda x: 100 * x["dot_balls"] / x["balls"])
           .query("balls > 0")
           .sort_values("dot_ball_percent", ascending=False)
           .head(5)
)
print(dot_ball_stats[["dot_balls","balls","dot_ball_percent"]])

                dot_balls  balls  dot_ball_percent
bowlerName
ShreyasIyer             4    6.0         66.666667
ImranTahir             14   24.0         58.333333
ReeceTopley             7   12.0         58.333333
DewaldBrevis            1    1.8         55.555556
SimarjeetSingh         57  108.0         52.777778

In [387]:
#9 . Top 4 teams based on past 3 years winning %.
team_stats = (
    matches.melt(id_vars=["match_id","winner"], value_vars=["team1","team2"], value_name="team")
           .groupby("team")["match_id"].nunique()
           .to_frame("matches_played")
           .join(matches.groupby("winner")["match_id"].nunique().to_frame("matches_won"))
           .fillna(0)
           .assign(win_percent=lambda x: x["matches_won"] / x["matches_played"] * 100)
           .sort_values("win_percent", ascending=False)
           .head(4)
)

print(team_stats[["matches_played","matches_won","win_percent"]])

              matches_played  matches_won  win_percent
team
Titans                    33           23    69.696970
Super Giants              29           17    58.620690
RCB                       45           25    55.555556
Super Kings               45           25    55.555556

In [388]:
#10 .Top 2 teams with the highest number of wins achieved by chasing targets over the past 3 years. 
chasing_wins = (
    matches.query("winner == team2") 
           .groupby("winner")["match_id"].nunique()
           .rename("chasing_wins")
           .to_frame()
           .sort_values("chasing_wins", ascending=False)
           .head(2)
)
print(chasing_wins)

          chasing_wins
winner
Capitals            14
KKR                 14