In [ ]:
import pandas as pd
print(pd.__version__)

2.3.2

In [ ]:
#1.
df = pd.Series([100, 200, 300, 400, 500], index=['A', 'B', 'C', 'D', 'E'])
Series2 = df.copy()
Series2 = df * 2
print(Series2)

A     200
B     400
C     600
D     800
E    1000
dtype: int64

In [ ]:
#2.State whether True or False 
#a. A series object is size mutable.
# False. A pandas Series is size immutable, meaning you cannot change its size (number of elements) after creation without creating a new Series.
#b.  A Dataframe object is value mutable 
# True. A pandas DataFrame is value mutable, meaning you can change the values of its elements after creation.

In [26]:
#3.
s = pd.Series([200,201,202,203,204,700,700,700,700,700])
display(s)

0    200
1    201
2    202
3    203
4    204
5    700
6    700
7    700
8    700
9    700
dtype: int64

In [20]:
#4.
s = pd.Series([95,89,92,95],index=["Ip","Physics","Chemistry","Math"])
print(s)
#4.1
print(s["Ip"])
#4.2
s = s + 10
s

Ip           95
Physics      89
Chemistry    92
Math         95
dtype: int64
95

Ip           105
Physics       99
Chemistry    102
Math         105
dtype: int64

In [22]:
#5.
SQTR = pd.Series([50000,65890,56780,89000,77900],index=["QTR1","QTR2","QTR3","QTR4","QTR5"],name="SQTR")
print(SQTR)

QTR1    50000
QTR2    65890
QTR3    56780
QTR4    89000
QTR5    77900
Name: SQTR, dtype: int64

In [24]:
#6.
S1 = pd.Series(data=[31,41,51])
print("one s1:",S1>40)
print("two s1:",S1[S1>40])

one s1: 0    False
1     True
2     True
dtype: bool
two s1: 1    41
2    51
dtype: int64

In [30]:
#7.
S1 = pd.Series([39,41,42,44],index=["A","B","C","D"])
S2 = pd.Series([10,10,10,10],index=["A","B","D","F"])
#A
S1[:2]*100
#B
S1*S2

A    390.0
B    410.0
C      NaN
D    440.0
F      NaN
dtype: float64

In [31]:
#C
S2[::-1]*10

F    100
D    100
B    100
A    100
dtype: int64

In [32]:
#8.
S1 = pd.Series([10,20,30,40],index=["A","B","C","D"])
S2 = pd.Series([5,4,6,8],index=["A","B","C","D"])
S1*S2

A     50
B     80
C    180
D    320
dtype: int64

In [ ]:
#9.
series=pd.Series([75,78,82,86],index=["ENGLISH","HINDI","MATHS","SCIENCE"],name="Subject")
print(series)

ENGLISH    75
HINDI      78
MATHS      82
SCIENCE    86
Name: Subject, dtype: int64

In [47]:
#10.
company = pd.Series([350,200,800,150],index=["TCS","Reliance","L&T","Wipro"])
print(company[company>250].index)
company.name="Profit"
print("company profits:",company)

Index(['TCS', 'L&T'], dtype='object')
company profits: TCS         350
Reliance    200
L&T         800
Wipro       150
Name: Profit, dtype: int64

In [50]:
#11.
a = pd.Series([10,20,25,50])
b = pd.Series([10,20,25,50])
print(a*2)
print(b*2)

0     20
1     40
2     50
3    100
dtype: int64
0     20
1     40
2     50
3    100
dtype: int64

In [ ]:
#12.Given a Pandas series called Sample, the command which will display the last 3 rows is.
# a. print(Sample.tail(3))
# b. print(Sample.Tail(3))
# c. print(Sample.tails(3)
# d. print(Sample.Tails(3))
#ANSWER: a)print(Sample.tail(3))

In [54]:
#13.
s = pd.Series(6,index=range(0,5))
print(s)

0    6
1    6
2    6
3    6
4    6
dtype: int64

In [55]:
#14.
s1 = pd.Series([6,1,3,5,4,8,7,4,6,7],index=[1,3,5,7,9,11,13,15,17,19])
print(s1[3:6])

7     5
9     4
11    8
dtype: int64

In [61]:
#15
import pandas as pd
import numpy as np
s = pd.Series(np.arange(10,50,10))
print(s)
print("number of dimentionsof the object:",s.ndim)
print("elements available:",s.shape)
print(len(s))

0    10
1    20
2    30
3    40
dtype: int64
number of dimentionsof the object: 1
elements available: (4,)
4

In [65]:
#16.Write a program to create a Series having 10 random numbers in the range of 10 and 20.
s = pd.Series(np.random.randint(10,20,size=10))
print(s)

0    17
1    19
2    11
3    14
4    15
5    19
6    10
7    15
8    16
9    16
dtype: int32

In [71]:
#17.
import numpy as np
s = pd.Series([4.0, 5.0, 7.0, np.nan, 1.0, 10.0], index=[0, 1, 2, 3, 4, 5])
s = s + 1
s
t = s.fillna(0)
t

0     5.0
1     6.0
2     8.0
3     0.0
4     2.0
5    11.0
dtype: float64

In [72]:
#18.Predict the output of the following code.
import pandas as pd
import numpy as np
data = {'one':'a','two':'b','three':'c'}
s=pd.Series(data)
print(s)
print(s.size)

one      a
two      b
three    c
dtype: object
3

In [73]:
#19. Create a Series object S1 using a python sequence [2,4,6,8] and default indices. 
s1 = pd.Series([2,4,6,8])
s1

0    2
1    4
2    6
3    8
dtype: int64

In [75]:
#20.Write the output of the following code fragment.
s2=pd.Series(["i","am", "a","student"])
print(s2)

0          i
1         am
2          a
3    student
dtype: object

In [76]:
#21.Write the output of the following code fragment.
import pandas as pd
s1=pd.Series(200,index=range(2,13,2))
print(s1)

2     200
4     200
6     200
8     200
10    200
12    200
dtype: int64

In [77]:
#22. Write the output of the following code fragment.
s1=pd.Series(range(2,11,2), index=[x for x in"abcde"]) 
print(s1)

a     2
b     4
c     6
d     8
e    10
dtype: int64

In [78]:
#23. fragment. 
x=np.arange(10,15) 
s3=pd.Series(index=x, data=x*2) 
s4=pd.Series(x**2,x) 
print(s3) 
print(s4)

10    20
11    22
12    24
13    26
14    28
dtype: int64
10    100
11    121
12    144
13    169
14    196
dtype: int64

In [89]:
#24. 
section = ['A','B','C','D','E']
contribution = [8900, 8700, 7800, 6500, None]  
series = pd.Series(contribution, index=section, dtype='float32') * 2
print(series)

A    17800.0
B    17400.0
C    15600.0
D    13000.0
E        NaN
dtype: float32

In [96]:
#25.
import pandas as pd
import numpy as np
vall = np.arange(5.25, 50, 10.25)
serl = pd.Series(vall, index=['a', 'b', 'a', 'a', 'b'])
print(serl)
print(serl['a'])
print(serl['b'])

a     5.25
b    15.50
a    25.75
a    36.00
b    46.25
dtype: float64
a     5.25
a    25.75
a    36.00
dtype: float64
b    15.50
b    46.25
dtype: float64

In [102]:
#26.
students = [39, 31, 32, 34, 35]
sections = ['A', 'B', 'C', 'D', 'E']
s10 = pd.Series(data=students, index=sections, dtype='int')
ticket_price = 100
collection_A = s10['A'] * ticket_price
collection_B = s10['B'] * ticket_price
print(f"Section A collected: Rs. {collection_A}")
print(f"Section B collected: Rs. {collection_B}")

Section A collected: Rs. 3900
Section B collected: Rs. 3100

In [105]:
#27
s4 = pd.Series([2.50,17.45,20.25,87.25,33.76],index=[0,1,2,3,4])
s4[0] = 1.75
s4[2:4] = -23.74
print(s4)

0     1.75
1    17.45
2   -23.74
3   -23.74
4    33.76
dtype: float64

In [107]:
#28
s1=pd.Series([2,3,4,5,6],index=['a','b','c','d','e']) 
s1[1:5:2]=345.6 
s1[2:4]= -14.65 
print(s1)

a      2.00
b    345.60
c    -14.65
d    -14.65
e      6.00
dtype: float64

C:\Users\16052\AppData\Local\Temp\ipykernel_16416\2314578940.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '345.6' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  s1[1:5:2]=345.6

In [109]:
#29
s12 = pd.Series([6700, 8000, 5400, 3400], index=['A', 'B', 'C', 'D'])
s12['A'] = 8800
s12[['C', 'D']] = 7700
print(s12)

A    8800
B    8000
C    7700
D    7700
dtype: int64

In [116]:
#30
trainingdata = pd.Series(np.random.randn(2000))
print("First 100 rows:",trainingdata.head(100))
print("\nLast 5 rows:",trainingdata.tail(5))

First 100 rows: 0     0.304137
1    -1.290029
2    -0.848336
3    -0.020439
4    -0.234880
        ...
95   -0.322640
96    0.013458
97    1.051059
98   -2.035309
99   -0.008514
Length: 100, dtype: float64

Last 5 rows: 1995   -1.282118
1996   -0.090427
1997    1.313732
1998    0.185375
1999   -0.077978
dtype: float64

In [120]:
#31
s3 = pd.Series([1.5,3.0,4.5,6.0,7.5],index=['a','b','c','d','e'])
print(s3+3)
print(s3*2)
print(s3>3.0)
print(s3[s3>3.0])

a     4.5
b     6.0
c     7.5
d     9.0
e    10.5
dtype: float64
a     3.0
b     6.0
c     9.0
d    12.0
e    15.0
dtype: float64
a    False
b    False
c     True
d     True
e     True
dtype: bool
c    4.5
d    6.0
e    7.5
dtype: float64

In [122]:
#32
s12 = pd.Series([6700,8000,5400,3400])
print(s12)

0    6700
1    8000
2    5400
3    3400
dtype: int64

In [147]:
#33
s12 = pd.Series([6700, 8000, 5400, 3400], index=['A', 'B', 'C', 'D'])
print(s12[s12 > 5600])
c11 = pd.Series([100, 90, 80], index=['Science', 'Commerce', 'Humanities'])
c12 = pd.Series([90, 80, 90], index=['Science', 'Commerce', 'Humanities'])
total_students = c11 + c12
print(total_students)

A    6700
B    8000
dtype: int64
Science       190
Commerce      170
Humanities    170
dtype: int64

In [ ]:
#34
s1 = pd.Series([1,2,3,4,5], index=[10,20,30,40,50])
s2 = pd.Series([0,1,2,3,4,5,6], index=[5,10,15,20,25,30,35])
s3 = pd.Series([3,6,9,10,11], index=['a','b','c','d','e'])
print(s1 + s2)
print(s1*s3)
print(s1-s2)

5     NaN
10    2.0
15    NaN
20    5.0
25    NaN
30    8.0
35    NaN
40    NaN
50    NaN
dtype: float64
10   NaN
20   NaN
30   NaN
40   NaN
50   NaN
a    NaN
b    NaN
c    NaN
d    NaN
e    NaN
dtype: float64
5     NaN
10    0.0
15    NaN
20   -1.0
25    NaN
30   -2.0
35    NaN
40    NaN
50    NaN
dtype: float64

In [138]:
#35
s12 = pd.Series([6700,8000,5400,3400], index=['D','A','B','C'])
#(i)
s12.sort_values(ascending=False)
s12

D    6700
A    8000
B    5400
C    3400
dtype: int64

In [139]:
#(ii)
print(sorted(s12.index))

['A', 'B', 'C', 'D']

In [ ]:
#36
# The code produces an error because the Series object s13 has 4 elements (indices 'A', 'B', 'C', 'D'), 
# but you are trying to assign a new index of length 5 (range(0,5)). 
# The length of the new index must match the number of elements in the Series.

In [141]:
#37
import pandas as pd 
first=[7,8,9] 
second=pd.Series(first) 
s1=pd.Series(data=first*2) 
s2=pd.Series(data=second*2) 
print("Series1:",s1)
print("Series2:",s2)

Series1: 0    7
1    8
2    9
3    7
4    8
5    9
dtype: int64
Series2: 0    14
1    16
2    18
dtype: int64

In [142]:
#38
data=np.array(['Mon','Tue','Wed','Thu','Fri','Sat',' Sun']) 
s=pd.Series(data) 
print(s[:4]) 
print(s[-4:])

0    Mon
1    Tue
2    Wed
3    Thu
dtype: object
3     Thu
4     Fri
5     Sat
6     Sun
dtype: object

In [143]:
#39
data=np.array(['Mon','Tue','Wed','Thu','Fri','Sat',' Sun']) 
s=pd.Series(data, index=[101,102,103,104,105,106,107]) 
print(s[[103,105,107]])

103     Wed
105     Fri
107     Sun
dtype: object

In [144]:
#40
D={'a':10,'b':11,'c':12}
S=pd.Series(D,index=['b','c','d','a'])
print(S)

b    11.0
c    12.0
d     NaN
a    10.0
dtype: float64