In [28]:
import mysql.connector

In [29]:
mydb = mysql.connector.connect(
host="localhost",
user="root",
password="Revanth123/",
database="games_db"
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000155FD593C50>

In [30]:
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE games_db")

DatabaseError: 1007 (HY000): Can't create database 'games_db'; database exists

In [ ]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('game_db',)
('games_db',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [ ]:
mycursor.execute("BROP DATABASE mydatabase")
mycursor.execute("CREATE DATABASE games_db")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'BROP DATABASE mydatabase' at line 1

In [ ]:
mycursor.execute("CREATE TABLE customers (name VARCHAR(225),address VARCHAR(225))")

ProgrammingError: 1050 (42S01): Table 'customers' already exists

In [31]:
mycursor.execute("SHOW TABLES")

In [32]:
for x in mycursor:
    print(x)

('customers',)
('customers1',)

In [33]:
mycursor.execute("CREATE TABLE customers1 (id INT AUTO_INCREMENT PRIMARY KEY,name VARCHAR(255), address VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'customers1' already exists

In [34]:
mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")